body {
  text-align: center;
  padding-top: 5%
}

a {
  display: block;
  padding-top: 20px;
  font-size: 20px;
  text-decoration: none;
}

#logo {
  padding-bottom: 20px;
}

img {
  width: 300px;
}

.cupcake {
  border: 2px solid black;
  border-radius: 10px;
}

.flashy {
  color: red;
  font-style: italic;
}

.best {
  border: 2px solid red;
  padding-top: 20px;
  margin-bottom: 20px;
}
